.container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #343434;
  color: #d7dadc;
  border: 1px solid #d7dadc;
  border-radius: 15px;
  padding: 15px;
  height: 100vh;
  overflow: scroll;
}
.container h2,
.container p {
  text-align: center;
  font-weight: 800;
}
