.postContainer {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 30px;
}

.postHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #44403c;
  border: 1px solid white;
  padding: 20px;
}
.postBody {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
}

a {
  color: #faebd7;
}

.postBody img {
  position: relative;
  width: 50%;
  padding: 20px;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  background-color: #44403c;
  padding: 20px;
}
